datasets/
.ipynb_checkpoints/
logs/
checkpoint/


train/classification/dataset/
__pycache__/
*.mp4
train/classification/images/
train/classification/experiment-images/
test/test-preprocessing/notebooks/checkpoint/
*.pt
*.pth
*.jpg
*.txt
*.png
*.log
*.zip